@import url('../fonts/fonts.css');
@import url('../css/normalize.css');

* {box-sizing: border-box;}

body{
    font-family: 'FredokaOne';
    color: white;

    .container{
        max-width: 960px;
        margin: 0 auto;
    }
}
a{
    text-decoration: none;
}
li{
    list-style-type: none
}

.header {

    &__bottom-head{
        position: absolute;
        left: 0;
        z-index: 1;
        right: 0;
        background-color: RGB(0,0,0,.5);
    }

    &__container {
        display: flex;
        flex-direction: column;
    }
    &__top-in{
        display: flex;
        justify-content: flex-end;
    }
    .details-popap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top {
        background-color: RGB(000, 000, 000, 0.77);

        .item__menu-top{
            margin: 25px;
            display: flex;
            color: white;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            cursor: pointer;
            height: 17px;  
            line-height: 17px;
        }
        &__icon {
            width: 25px;
            height: 30px;
            cursor: pointer;
        }
        .top-header__ring{
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: #ff4200;
            position: relative;
            bottom: 8px;
            left: -10px;
            color: wheat;
            text-align: center;
        
            .header__ring-text{
                margin-left: -2px;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 500px) {
    .item__menu-top{
        margin: 25px 10px !important;
    }
    .taste .taste__button {
        text-align: center;
    }
    .about .about__title {
        letter-spacing: 10px;
        padding: 34px 10px 25px 0px;
        color: #666;
        margin: 0;
        font-size: 35px;
    }
    .about__box-text .about__text {

        font-size: 14px !important;
    }
}

//popapDetails
.popupDetaols {
    display: none;
    margin-top: 70px;
    position: absolute;
    z-index: 2;
    right: 5px;
    background: white;
    padding: 20px;
    color: black;
    width: 500px;
    flex-direction: column;
    font-family: 'Lato', sans-serif;

    &__close-button{
        height: 30px;
        width: 30px;
        align-self: flex-end;


        button{
            height: 30px;
            max-width: 30px;
            background: none;
            outline: none;
            border: none;
            font-size: 30px;
            margin: 0;
            padding: 0;

            img{
                height: 30px;
                width: 30px;
            }
        }
        button:hover{
            transition: .8s;

            -webkit-transform-origin: center;
            -moz-transform-origin: center;
            -o-transform-origin: center;
            -ms-transform-origin: center;
            transform-origin: center;

            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
    &__top-img {
        display: flex;
        margin-left: 66px;
        margin-bottom: 5px;
        
    }
    &__item-span{
        display: flex;
        width: 80%;
        border-bottom: 1px solid black;
        font-weight: bold;

        span{
            font-weight: 100;
        }
    }
    &__item-image{
        margin: 8px;
        width: 30px;
        height: 30px;
    }
    &__top-imgItem{
        margin: 8px;
        width: 30px;
        height: 30px;

        img{
            width: 100%;
        }
    }
    &__box-spanPre{
        color: #ff7949;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
    }
    &__item-pre{
        color: #ff4200;
        font-size: 18px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-weight {
        margin-left: 20px;
        font-weight: bold;
        font-size: 20px;
        color: #666666;
    }
    &__item-cost {
        color: #666666;
        font-size: 20px;
        margin-left: 50px !important;
    }
    &__item-button {
        button{
            outline: none;
            margin: 4px;
            width: 30px;
            height: 30px;
            border-radius: 20px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__bottom-box {
        display: flex;
        justify-content: space-between;
        margin: 20px 30px 0 0;
        align-items: center;
    }
    &__bottom-total {
        font-weight: bold;
        font-size: 18px;
        color: #3a3a3a;

        span{
            margin: 0 5px 0 10px;
        }
    }
    &__bottom-button {
        outline: none;
        border: none;
        height:30px;
        width: 110px;
        background-color: #ff4200;
        border: 1px solid #ff4200;
        margin-left: 30px;
        color: white;
        border-radius: 30px;
    }
    &__bottom-button:hover {
        background-color: white;
        color: #ff4200;
    }
}
@media screen and (max-width: 550px) {
    .popupDetaols {
        right: 0px;
        padding: 5px;
        width: 280px;
        &__top-img {
            margin-left: 24px;
        }
        &__item-span{

            span{
                font-size: 14px;
            }
        }
        &__item-image{
            margin: 0px;
        }
        &__top-imgItem{
            margin: 0px;
        }

        &__item-weight {
            margin-left: 5px;
            font-size: 14px;
        }
        &__item-cost {
            font-size: 14px;
            margin-left: 5px !important;
        }
        &__item-button {
    
            button{
                outline: none;
                margin: 4px;
                width: 30px;
                height: 30px;
                border-radius: 20px;
    
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.total-header {
    height: 50px;

    &__title {
        font-weight: 700;
    }
    &__prise {
        padding-left: 25px;
        font-size: 18px;
    }
}
.datails-header {

    &__title {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: white;
        outline: none;
        border: none;
        background: none;
        font-weight: 700;
    }

    &__icon {
        width: 16px;
        height: 9px;
        padding-left: 10px;
    }
}
.bottom-header__logo {
    font-family: 'Kristi', sans-serif;
    font-size: 60px;
    color: white;
    position: relative;
    bottom: 40px;
}
.bottom-header__burger-box{
    cursor: pointer;
    display: none;
}
.bottom-header {

    &__menu {
        font-size: 18px;
    }
    &__burger-box{
        margin: 10px 20px;
    }
    &__menu-burger{

    }
    &__list {
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 950px) {
        &__menu {
            top: 30px;
            position: absolute;
            display: none;
            background-color: slategray;
        }
        &__list {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        &__menu-burger{
            display: block;
        }
        &__burger-box{
            display: block;
        }
        &__link:hover{
            color: black;
        }
    }


    &__item {
        text-decoration: none;
        padding: 25px;

        a{
            white-space: nowrap;
            color: white;
        }
    }

    &__link {

        &_active {
            padding: 0 30px 15px;
            border-bottom: 4px solid #ff4200;
        }
    }
}
// taste

.taste {
    position: relative;
    top: 0;
    z-index: 0;
    height: 850px;
    width: auto;
    background: url('../images/dest/taste.jpg') no-repeat center / cover;


    @media screen and (max-width: 950px) {
        .taste__text-left{
            display: none;
        }
        .taste__button button {
            margin-top: 200px;
        }
        h2{
            text-align: center;
            font-size: 30px;
        }
    }

    &__box {
        padding-top: 150px;
    }
    &__box-flex {
        display: flex;
        justify-content: center;
    }
    &__text-left {
        line-height: 25px;
        position: relative;
        padding:0 10px 15px 0;
        p{
            max-width: 330px;
            text-align: right;
            border-right: 2px solid #f4f4f4;
            padding: 140px 20px 0 0;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
        }
    }

    &__text-left::after {
        background-color: rgba(147, 181, 135, 0.94);
        position: absolute;
        top: 0;
        right: -30px;
        height: 100%;
        width: 100vw;
        content: '';
        z-index: -1;
    }
    &__title {
        font-size: 25px;
        color: #f7f7f7;
        white-space: nowrap;
    }
    &__button {

        text-align: right;

        button{
            cursor: pointer;
            outline: none;
            width: 260px;
            height: 80px;
            font-size: 36px;
            color: white;
            background-color: #ff4200;
            border-radius: 40px;
            border: 0px;
        }
        button:active{
            text-decoration: none;
            outline: none;
            display: inline-block;
            overflow: hidden;
            border: 2px solid;
            border-bottom-width: 4px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            color: rgb(204, 36, 64);
            background: rgba(255,255,255,1);
            transition: color .1s, background .2s;
        }
    }
}

//section-Center
.section-Center {

}
.section-Center::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: auto;
    height: 1600px;

    background: url('../images/dest/center.jpg') no-repeat center/cover;
    background-size: 100%;

    -webkit-filter: opacity(30%);
    -moz-filter: opacity(30%);
    -o-filter: opacity(30%);
    -ms-filter: opacity(30%);
    filter: opacity(30%);
}
.about {

		&__container {
            display: flex;
            
        }
        @media screen and (max-width: 880px) {
            .about__text{
                padding: 20px !important;
            }
            .about__cracker-image{
                display: none;
            }
            .footer__right-link{
                a{
                    span{
                        display: none;
                    }
                }
            }
        }
        &__cracker-image{
            position: relative;
            z-index: 0;
            left: 130px;
            top: 60px;
           flex-shrink: 0;
            width: 370px;
            height: 370px;

            .about__img-in{
                width: 100%;
                height: 100%;
                background: url(../images/dest/about-cracker.jpg) bottom right;
                border-radius: 100%;

                -webkit-filter: contrast(130%);
                -moz-filter: contrast(130%);
                -o-filter: contrast(130%);
                -ms-filter: contrast(130%);
                filter: contrast(130%);
            }

        }
		&__box {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
		}

		&__title {
            letter-spacing: 10px;
            padding: 70px 10px 50px;
            color: #666666;
            margin: 0;
            font-size: 35px;
		}
		&__box-text {
            position: relative;
            z-index: 2;
            padding:0 10px 15px 0;

            .about__text{
                line-height: 25px;
                text-indent: 25px;
                padding: 30px 30px 70px 70px;
                max-width: 620px;
                color: #333333;
                font-family: 'Lato', sans-serif;
                font-size: 18px;
            }
        }
		&__box-text::after {
            background-color: rgba(215, 191, 191, 0.8);
            position: absolute;
            top: 0;
            left: -30px;
            height: 100%;
            width: 100vw;
            content: '';
            z-index: -1;
		}
		&__logo {

            a{
                position: relative;
                z-index: 3;
                bottom: 50px;

                font-family: 'Kristi', sans-serif;
                font-size: 72px;
                color: #0d0c0c;
            }
		}
}
//constructor

.constructor {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 950px) {
        .constructor__line{

            input{
                width: 300px;
                margin: 0 20px;
            }
        }
        .constructor__choose-button{
            margin-left: 20px;
        }
        .constructor__value{
            text-align: center;
        }
        .constructor__title {
            margin: 10px 0 0px;
        }
    }
    @media screen and (max-width: 600px) {
        .constructor__line{

            input{
                width: 150px;
                margin: 0 20px;
            }
            #show-popup{
                width: 50px;
            }
        }
        .constructor__choose-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px;
    
            button{
                width: 180px;
                font-size: 15px;
                margin-left: 20px;
            }
        }
    }
    &__title {
        font-size: 48px;
        color: #333333;
        margin: 59px 0 22px;
    }

    &__value {
        width: 600px;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #0d0c0c;
        text-align: right;
    }

    &__product-line {
        display: flex;
        justify-content: center;
        align-items: center;

        input{
        width: 600px;
        height: 0px;
        margin: 0 100px;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        }
        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%; 
            cursor: pointer;
            background-color: wheat;
            }
    }
    .soydean{
        
        input{
        border: 2px solid #00a651;
        background-color: #00a651;
    }
    input::-webkit-slider-thumb {

        border: 2px solid #4CAF50;

        }
    }
    .sesame{
        
        input{
        border: 2px solid #49743f;
        background-color: #49743f;
    }
    input::-webkit-slider-thumb {

        border: 2px solid #49743f;

        }
    }
    .wheat{
        
        input{
        border: 2px solid #aba000;
        background-color: #aba000;
    }
    input::-webkit-slider-thumb {

        border: 2px solid #aba000;

        }
    }
    .corn{
        
        input{
        transition: .8s;
        border: 2px solid #959290;
        background-color: #959290;
    }
    input::-webkit-slider-thumb {

        border: 2px solid #959290;

        }
    }

    &__img {
        width: 60px;
        height: 60px;
    }
    &__percent {
        font-family: 'Lato', sans-serif;
        color: #0d0c0c;
        font-size: 30px;
        width: 30px;
    }
    &__flex-box{
        display: flex;
        align-items: center;
    }

    &__choose-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;

        button{
            flex-wrap: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 370px;
            height: 60px;
            border: 1px solid #ff4200;
            border-radius: 30px;

            color: #ff4200;
            font-size: 25px;
            outline: none;
            background: transparent;

            span{
                margin-left: 25px;
            }
            .choose-img{
                margin: 0 25px;
            }
        }
    }
    &__choise-box{
        display: flex;

    }

    &__add {
        align-self: flex-end;
        margin: 2px 30px 14px 0;

        button{
            cursor: pointer;
            font-size: 24px;
            width: 60px;
            height: 60px;
            background: #ff4200;
            border-radius: 30px;
            color: white;
            border: none;
            outline: none;
            white-space: nowrap;

        }
        button:hover{
            transition: .2s;
            width: 260px;
        }
    }
}
//choicepopup

.choicepopup {
    margin-top: 70px;
    position: absolute;
    z-index: 2;
    // margin: 10px 0 0 185px;
    width: 300px;
    display: none;
    border: 1px solid #ff4200;
    border-radius: 23px;
    // display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 10px;


    &__chose {

        margin: 15px 0;

        span{
            color: thistle;
            font-size: 20px;

        }
    }
    &__button{

        button{
            white-space: nowrap;
            outline: none;
            color: #ff4200;
            padding: 5px;
            margin: 1px;
            border: none;
            // width: 150px;
            background: none;
        }
        button:hover{

            color: #fa8054;

        }

    }

    .active{
        background-color: silver;
        border-top: 1px solid #ff4200;
        border-bottom: 1px solid #ff4200;
    }
}

//footer
.footer {
    height: 780px;
    width: auto;
    background: url('../images/dest/footer-img.jpg') no-repeat center / cover;

    @media screen and (max-width: 950px) {
        .footer__right-linkNone{
            display: none;
        }
        .footer__center{
            margin: 10px;

            p{
                display: none;
            }
        }
        .footer__left-number{
            display: none;
        }
        .conmed{
            align-self: center;
        }
    }
    &__box {
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__left {
        margin: 10px;

        a{
            display: flex;

            span{
                color: white;
                padding: 15px 0 0 20px;
            }
        }
        .footer__left-number{
            margin: 40px 0 0 70px;
            color: white;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
        }
    }

    &__img-plus {

    }
    &__center {
        margin: 10px;

        a{
            display: flex;

            span{
                color: white;
                padding: 15px 0 0 20px;
            }
        }
        p{
            cursor: default;
            line-height: 30px;
            padding: 20px 0 0 50px;
            color: white;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
        }
    }

    &__right {
        margin: 10px;

        .footer__right-linkBox{
            display: flex;
            align-items: center;
            margin: 13px 0 13px 60px ;

            span{
                margin-left: 15px;
                padding: 0;
            }
        }

        a{
            width: auto;
            height: auto;
            display: flex;
            padding: none;
            margin: none;

            span{
                color: white;
                white-space: nowrap;
                padding: 15px 0 0 20px;
            }
        }

        .footer__right-link{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            padding: 12px;
            border: 1px solid #f4f4f4;
            border-radius: 100%;
            text-align: center;

            a{
                width: 100%;
                height: 100%;
            }
        }
    }
}

